# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# celerybeat schedule file
celerybeat-schedule

# dotenv
.env

# VSCode settings folder
.vscode/

# macOS folder attributes
.AppleDouble
.LSOverride
