<footer class="site-footer section-padding">
  {% load static %}
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-lg-3 col-12 mb-4 pb-2">
        <a class="navbar-brand" href="index.html">
          <img
            src="{% static '/images/mzansiplug-logo-s.png'%}"
            alt="Mzansi Plug Logo"
            class="navbar-logo mzansi-plug-logo"
          />
        </a>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-3 col-md-4 col-6">
        <h6 class="site-footer-title mb-3">Quick Links</h6>
        <ul class="site-footer-links">
          <li class="site-footer-link-item">
            <a href="{% url 'index' %}" class="site-footer-link">Home</a>
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'south-african-articles' %}" class="site-footer-link"> Articles </a>
          </li>

          <li class="site-footer-link-item">
            <a href="{% url 'south-african-jobs' %}" class="site-footer-link"
              >Find Jobs</a
            >
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'south-african-salaries' %}" class="site-footer-link">Find Salaries</a>
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'south-african-careers' %}" class="site-footer-link">Careers</a>
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'south-african-articles' %}" class="site-footer-link">Articles</a>
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'past-papers' %}" class="site-footer-link">Download Previous Question Papers</a>
          </li>

          <li class="site-footer-link-item">
            <a href="{% url 'disclaimer' %}" class="site-footer-link">Disclaimer</a>
          </li>

        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
        <h6 class="site-footer-title mb-3">Contact Info</h6>
        <p class="text-white d-flex mb-1">
          <a href="tel:+27171170422" class="site-footer-link"> 071 177 0422 </a>
        </p>
        <p class="text-white d-flex">
          <a href="mailto:info@mzansiplug.com" class="site-footer-link">
            info@mzansiplug.com
          </a>
        </p>
        <p class="text-white d-flex">
          <a
            href="https://www.mzansiplug.com"
            target="_blank"
            class="site-footer-link"
          >
            www.mzansiplug.com
          </a>
        </p>

        <ul class="site-footer-links">
          <li class="site-footer-link-item">
            <a href="{% url 'about-us' %}" class="site-footer-link">About Us</a>
          </li>
          <li class="site-footer-link-item">
            <a href="{% url 'contact' %}" class="site-footer-link"> Contact </a>
          </li>

          <li class="site-footer-link-item">
            <span>       <a href="{% url 'privacy-policy' %}" class="site-footer-link"
              >Privacy Policy</a
            ></span> & <span> 

              <a href="{% url 'terms-and-conditions' %}" class="site-footer-link">Terms & Conditions</a>
            </span>
          </li>


        </ul>


       
      </div>

      <!-- Language and Copyright -->
      <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
        <div class="dropdown">
          <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            English
          </button>
        </div>

        <p class="copyright-text mt-lg-5 mt-4">
          &copy; 2025 MzansiPlug. All rights reserved.<br /><br />
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<script src="{% static 'js/click-scroll.js' %}"></script>
<script src="{% static 'js/custom.js'%}"></script>
