<head>
  {% load static %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="MzansiPlug Team" />

  {% if job %}
  <meta property="og:title" content="{{ job.title }}" />
  <meta
    property="og:description"
    content="{{ job.description|truncatechars:100 }}"
  />
  <meta property="og:url" content="{{ job_url }}" />
  <meta property="og:type" content="website" />
  <meta name="keywords" content="{{ keywords|default:'jobs, South Africa, mzansiplug, careers, side hustles, online courses' }}">
  <meta name="description" content="{{ description|default:'Mzansiplug is a South African number 1 job site. Search for jobs across South Africa. Find work. Recruit the ideal candidates. PNet your job portal.' }}">
  {% if job.company.logo %}
  <meta property="og:image" content="{{ job.company.logo.url }}" />
  {% endif %} {% endif %}

  <title>{{ title }}</title>

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
    rel="stylesheet"
  />

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />

  <link
    href="{% static 'css/templatemo-topic-listing.css' %}"
    rel="stylesheet"
  />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "MzansiPlug",
      "url": "https://www.mzansiplug.com",
      "logo": "https://pub-0324bcfe1aad402d8432e0e33dd00337.r2.dev/static/images/mzansiplug-logo.webp", 
      "sameAs": [
        "https://www.facebook.com/mzansiplug",
        "https://www.twitter.com/mzansiplug",
        "https://www.instagram.com/mzansiplug"
      ],
      "description": "MzansiPlug is a free South African platform that connects job seekers with verified jobs, side hustles, and learning opportunities."
    }
    </script>
    



</head>
